.bicycle {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: var(--bg-color);
  border: 2px solid var(--green-color);
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 10px 11px 12px 16px;

  &:last-child {
    margin-bottom: 0;
  }

  &.available {
    border: 2px solid var(--green-color);
  }

  &.busy {
    border: 2px solid var(--orange-color);
  }

  &.unavailable {
    border: 2px solid var(--red-color);
    opacity: 0.5;
  }

  &__info {
    color: var(--text-color);
    line-height: 22.04px;
  }

  &__name {
    font-weight: 700;
  }

  &__id {
    font-size: 8px;
    line-height: 12.59px;
    color: var(--text-color-grey);
  }

  .status {
    display: flex;
    align-items: center;
    gap: 18px;

    line-height: 22.04px;

    &__arrow {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      border: none;
      background-color: transparent;
      transition: all 250ms ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }

    &__iconBox{
    transition: all 250ms ease-in-out;
    }

    &__iconBoxOpen {
      rotate: (180deg);
    }

    &__optionsBox {
      position: relative;
    }

    &__options {
      position: absolute;
      z-index: 1;
      display: flex;
      flex-direction: column;
      padding: 5px;
      border-radius: 5px;
    }

    &__btn {
      border: none;
      border-radius: 5px;
      border: 1px solid var(--bg-color-dark);
      background-color: var(--bg-color);
      margin-bottom: 2px;
      padding: 2px 5px;
      text-align: start;
      transition: all 250ms ease-in-out;
      &:hover {
        background-color: var(--bg-color-dark);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__price {
    display: flex;
    align-items: flex-end;
    font-size: 24px;
    line-height: 14px;
  }

  &__cross {
    display: flex;
    position: absolute;
    top: 9px;
    right: 9px;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.3);
    }

    &Btn {
      width: 10px;
      height: 10px;
      padding: 0;
      border: none;
      background-color: transparent;
      background-image: url('/assets/close.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
