.stats {
  padding: 10px;
  border-top: 1px solid #c4c4c4;

  &__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__value {
    font-weight: 700;
  }

  &__string {
    margin-bottom: 5px;
  }
}